<%= javascript_include_tag "sel_controller.js" %>

<h1>New lookup</h1>

<% form_for(@lookup, :html => {:name => "new_lookup"}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lu_key, "Key" %><br />
    <%= f.select(:lu_key, @lu_key_list, {}, {:onChange => "sel_controller()"}) %>
  </p>
  <p>
    <%= label_tag "New Key" %><br />
    <%= text_field_tag( :new_key, params[:new_key], :size => 20) %>
  </p>
  
  <p>
    <%= f.label :lu_value, "Value" %><br />
    <%= f.text_field :lu_value %>
  </p>
  <p>
    <%= f.label :lu_active, "Active" %><br />
    <%= f.check_box :lu_active %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', lookups_path %>