<h1>Editing office</h1>

<% form_for(@office) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :company_id %><br />
    <%= f.text_field :company_id %>
  </p>
  <p>
    <%= f.label :site_id %><br />
    <%= f.text_field :site_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @office %> |
<%= link_to 'Back', offices_path %>