<p>
  <b>Code:</b>
  <%=h @office.code %>
</p>

<p>
  <b>Description:</b>
  <%=h @office.description %>
</p>

<p>
  <b>Company:</b>
  <%=h @office.company_id %>
	<%=h @office.company.description %>
</p>

<p>
  <b>Site:</b>
  <%=h @office.site_id %>
	<%=h @office.site.code %>
</p>


<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>