<table class="show-table">
  <colgroup>
    	<col class="oce-first" />
  </colgroup>

  <tr>
    <td class="show-table-label">Code <td/>
    <td> <%=h @office.code %> </td>
  </tr>
  
  <tr>
    <td class="show-table-label">Description </td>
    <td> <%=h @office.description %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Company </td>
    <td> <%=h @office.company.description %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Site </td>
	  <td> <%=h @office.site.code %> </td>
  </tr>
</table>


<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>