<h1>Listing computers</h1>

<table class="list-table">
  <tr>
    <th>Company</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Manf. Type/ID</th>
    <th>Description</th>
    <th>Type</th>
    <th>Serial number</th>
    <th>Cpu</th>
    <th>Ram</th>
    <th>Hdd</th>
    <th>Optical</th>
    <th>Os</th>
    <th>Service tag</th>
    <th>Purchase date</th>
    <th/>
  </tr>

<% @computers.each do |computer| %>
  <tr>
    <td><%=h computer.company.code %></td>
    <td><%=h computer.manufacturer %></td>
    <td><%=h computer.model %></td>
    <td><%=h computer.manf_type %></td>
    <td><%=h computer.description %></td>
    <td><%=h computer.form_type %></td>
    <td><%=h computer.serial_number %></td>
    <td><%=h computer.cpu %></td>
    <td><%=h computer.ram %></td>
    <td><%=h computer.hdd %></td>
    <td><%=h computer.optical %></td>
    <td><%=h computer.os %></td>
    <td><%=h computer.service_tag %></td>
    <td><%=h computer.purchase_date %></td>
    <td class="list-actions">
      <%= link_to 'Show', computer %><br/>
      <%= link_to 'Edit', edit_computer_path(computer) %><br/>
      <%= link_to 'Destroy', computer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New computer', new_computer_path %>