<table class="show-table">
  <colgroup>
    	<col class="oce-first" />
  </colgroup>
  <tr>  
    <td class="show-table-label">Company</td>
    <td><%=h @computer.company.description %> </td>
  </tr>
  <tr>  
    <td class="show-table-label">Manufacturer</td>
    <td><%=h @computer.manufacturer %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Model</td>
    <td><%=h @computer.model %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Description</td>
    <td><%=h @computer.description %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Type</td>
    <td><%=h @computer.form_type %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Serial number</td>
    <td><%=h @computer.serial_number %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Cpu</td>
    <td><%=h @computer.cpu %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Ram</td>
    <td><%=h @computer.ram %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Hdd</td>
    <td><%=h @computer.hdd %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Optical</td>
    <td><%=h @computer.optical %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Os</td>
    <td><%=h @computer.os %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Service tag</td>
    <td><%=h @computer.service_tag %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Purchase date</td>
    <td><%=h @computer.purchase_date %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Comments</td>
    <td><%=h @computer.comments %> </td>
  </tr>
</table>  


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>