<h1>Listing users</h1>
<table class="list-table">
  <tr>
    <th>Office Name</th>
    <th>Login Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Admin?</th>
    <th/>
  </tr>
	<% @users.each do |user| %>
		<tr>
      <td><%=h Office.display_str( user.office_id ) %> </td.>
			<td><%=h user.name %> </td>
			<td><%=h user.first_name %> </td>
			<td><%=h user.last_name %> </td>
			<td><%=h user.email %> </td>
			<td><%=h user.admin.to_s %> </td>
			<td class="list-actions">
				<%= link_to 'Show', user %><br />
				<%= link_to 'Edit', edit_user_path(user) %><br />
				<%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %><br />
			</td>
		</tr>
	<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>

