<tr>
  <td class="micropost"><%=h office_item.code %> </td>
	<td class="micropost"><%=h office_item.description %> </td>
<!--  <td><%=h Office.display_str( office_item.id ) %> </td.>
	<td class="list-actions">
  				<%= link_to 'Show', office_item %><br />
  				<%= link_to 'Edit', edit_office_path(office_item) %><br />
  				<%= link_to 'Destroy', office_item, :confirm => 'Are you sure?', :method => :delete %><br />
	</td>
	--!>

</tr>