<h1>Editing tape_move</h1>

<% form_for(@tape_move) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tape_id %><br />
    <%= f.select(:tape_id, @tape_list) %>
  </p>
  <p>
    <%= f.label :destination %><br />
    <%= f.select(:destination, @tape_dest_list) %>
  </p>
  <p>
    <%= f.label :out %><br />
    <%= f.date_select :out %>
  </p>
  <p>
    <%= f.label :return %><br />
    <%= f.date_select :return, :include_blank => true %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tape_move %> |
<%= link_to 'Back', tape_moves_path %>