<p>
  <b>Publisher:</b>
  <%=h @software.publisher %>
</p>

<p>
  <b>Title version:</b>
  <%=h @software.title_version %>
</p>

<p>
  <b>Purchase date:</b>
  <%=h @software.purchase_date %>
</p>

<p>
  <b>Comments:</b>
  <%=h @software.comments %>
</p>


<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>