<h1>Editing computer_allocation</h1>

<% form_for(@computer_allocation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :computer_id %><br />
    <%= f.text_field :computer_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :allocated %><br />
    <%= f.date_select :allocated %>
  </p>
  <p>
    <%= f.label :returned %><br />
    <%= f.date_select :returned %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @computer_allocation %> |
<%= link_to 'Back', computer_allocations_path %>