<table class="show-table">
  <tr>
  <td class="show-table-label">Computer:</td>
  <td> <%=h @computer_display_str  %> </td>
</table>

<p>
  <b>User:</b>
  <%=h @user_display_str %>
</p>

<p>
  <b>Allocated:</b>
  <%=h @computer_allocation.allocated %>
</p>

<p>
  <b>Computer Name:</b>
  <%=h @computer_allocation.computer_name %>
</p>

<p>
  <b>Returned:</b>
  <%=h @computer_allocation.returned %>
</p>

<p>
  <b>Comments:</b>
  <%=h @computer_allocation.comments %>
</p>


<%= link_to 'Edit', edit_computer_allocation_path(@computer_allocation) %> |
<%= link_to 'Back', computer_allocations_path %>
