<p>
  <b>Computer:</b>
  <%=h @computer_display_str  %>
</p>

<p>
  <b>User:</b>
  <%=h @user_display_str %>
</p>

<p>
  <b>Allocated:</b>
  <%=h @computer_allocation.allocated %>
</p>

<p>
  <b>Returned:</b>
  <%=h @computer_allocation.returned %>
</p>

<p>
  <b>Comments:</b>
  <%=h @computer_allocation.comments %>
</p>


<%= link_to 'Edit', edit_computer_allocation_path(@computer_allocation) %> |
<%= link_to 'Back', computer_allocations_path %>
