<table class="show-table">
  <colgroup>
    	<col class="oce-first" />
  </colgroup>
 <tr>  
    <td class="show-table-label">Code </td>
    <td> <%=h @site.code %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Address1 </td>
    <td><%=h @site.address1 %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Address2 </td>
    <td><%=h @site.address2 %> </td>
  </tr>

  <tr>
    <td class="show-table-label">City</td>
    <td><%=h @site.city %> </td>
  </tr>

  <tr>
    <td class="show-table-label">State</td>
    <td><%=h @site.state %> </td>
  </tr>

  <tr>
    <td class="show-table-label">Zipcode</td>
    <td><%=h @site.zipcode %> </td>
  </tr>
</table>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>