<p>
  <b>Ticket:</b>
  <%=h @ticket_action.ticket_id %>
</p>

<p>
  <b>Add user:</b>
  <%=h @ticket_action.add_user_id %>
</p>

<p>
  <b>Action desc:</b>
  <%=h @ticket_action.action_desc %>
</p>


<%= link_to 'Edit', edit_ticket_action_path(@ticket_action) %> |
<%= link_to 'Back', ticket_actions_path %>