<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>IT Assets</title>
  <%= stylesheet_link_tag 'itassets', :media => "all" %>
</head>
<body id="store">
  <div id="banner">
    <%= @page_title || "IT Assets" %>
  </div>
  <div id="columns">
    <div id="side">
      <%= link_to 'Home', :controller => 'admin', :action => 'index' %> <br />
      <a href="http://www....">FAQ</a><br />
      <a href="http://www....">News</a><br />
  
			<% if session[:user_id] %>
				<br />
				<%= link_to 'Sites', :controller => 'sites' %> <br />
				<%= link_to 'Companies', :controller => 'companies' %> <br />
				<%= link_to 'Offices', :controller => 'offices' %> <br />
				<%= link_to 'Users', :controller => 'users' %> <br />
				<%= link_to 'Computers', :controller => 'computers' %> <br />
				<%= link_to 'Lookups', :controller => 'lookups' %> <br />
				<%= link_to 'Softwares', :controller => 'softwares' %> <br />
				<%= link_to 'Computer Allocations', :controller => 'computer_allocations' %> <br />
				<br />
				<%= link_to 'Logout', :controller => 'admin', :action => 'logout' %>
			<% end %>
		</div>
    <div id="main">
			<% if flash[:notice] -%>
				<div id="notice"><%= flash[:notice] %></div>
			<% end -%>

      <%= yield :layout %>
    </div>
  </div>
</body>
</html>
